<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo tareas firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
  </ion-item>
  <ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="4"><ion-button (click)="clickBotonInsertar()" size="small">Añadir</ion-button></ion-col>
    <ion-col size="4"><ion-button (click)="clickBotonBorrar()" size="small">Borrar</ion-button></ion-col>
    <ion-col size="4"><ion-button (click)="clickBotonModificar()" size="small">Modificar</ion-button></ion-col>
  </ion-row>
</ion-grid>
  <h1>Lista de tareas</h1>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
      <ion-grid>
        <ion-row>
          <h2>{{documentTarea.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentTarea.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
