<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo tareas firebase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
  </ion-item>

  <ion-button (click)="clickBotonInsertar()">Añadir tarea</ion-button>
</ion-content>
